.wrapper {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 26px 54px;
    width: 100%;
    max-width: 526px;
    min-height: 650px;
    background: #F9FAFB;
    box-shadow: -30px 30px 50px rgba(28, 28, 30, 0.1);
    border-radius: 25px;
    text-align: right;

}

.title {
    margin-top: 0;
    font-size: 34px;
    line-height: 44px;
    text-align: center;
    color: #424F5E;
}


.checkBoxWrapper {

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 110px;
    margin-bottom: 36px;
    text-align: left;
}

.btn {
    padding: 16px !important;
    border-radius: 15px !important;
}
.linkText{
    font-size: 16px;
    line-height: 120%;
    color: #424F5E;
}